<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:17:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:00</td>   <td>26681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:39</td>   <td>65901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:19:08</td>   <td>95066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:17:16</td>   <td>-17089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:17:44</td>   <td>10254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:23</td>   <td>49490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:52</td>   <td>78677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:17:40</td>   <td>6275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:17</td>   <td>43616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:18:45</td>   <td>71555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:19:14</td>   <td>100601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
</table>
