<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:52</td>   <td>33830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:23</td>   <td>64464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:53</td>   <td>94655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">loginPageTest</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:01</td>   <td>-17677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:34</td>   <td>15592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:05</td>   <td>46505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:34</td>   <td>75468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:31</td>   <td>11907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:22:59</td>   <td>39903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:29</td>   <td>70099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/17 14:23:59</td>   <td>100398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@1a84f40f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
</table>
