<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Vibgyor paint Automation Script</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.HomePageTitleTest()[pri:4, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">HomePageTitleTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:02</td>   <td>-255519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:33</td>   <td>-224815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:03</td>   <td>-194192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:32</td>   <td>-165754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:56:01</td>   <td>-136376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:34</td>   <td>-103861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:55</td>   <td>-83081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:15</td>   <td>-63040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:36</td>   <td>-41926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:56</td>   <td>-21309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:21</td>   <td>-356519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:46</td>   <td>-331325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:12</td>   <td>-305988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:36</td>   <td>-281233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:50</td>   <td>32325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.loginlabelTest()[pri:6, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">loginlabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:06</td>   <td>-371341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:33</td>   <td>-344592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:59</td>   <td>-319055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:22</td>   <td>-296002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:53:48</td>   <td>-269171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:19</td>   <td>-238864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:49</td>   <td>-208524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:19</td>   <td>-179131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:47</td>   <td>-150771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:18</td>   <td>-119628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:41</td>   <td>-96548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:01</td>   <td>-76189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:22</td>   <td>-56022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:43</td>   <td>-34673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:04</td>   <td>-13895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:19</td>   <td>1447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:34</td>   <td>16745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:51</td>   <td>33558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:59:05</td>   <td>47514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.signuplabelTest()[pri:7, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">signuplabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:28</td>   <td>-349963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:52</td>   <td>-325784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:17</td>   <td>-300166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:42</td>   <td>-275583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:13</td>   <td>-244529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:44</td>   <td>-214055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:14</td>   <td>-183489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:43</td>   <td>-154965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:56:12</td>   <td>-125709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:18</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:33</td>   <td>15106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:50</td>   <td>32399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:59:05</td>   <td>47612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:41</td>   <td>-96833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:01</td>   <td>-76681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:21</td>   <td>-56318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:42</td>   <td>-35353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:58:03</td>   <td>-14374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:32</td>   <td>14841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.vibgyorpaintlabelTest()[pri:5, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">vibgyorpaintlabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
</table>
