<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Vibgyor paint Automation Script</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:21</td>   <td>14822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:28</td>   <td>21378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:33</td>   <td>26749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:46</td>   <td>40016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:52</td>   <td>45557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:52:59</td>   <td>52286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:12</td>   <td>65353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:17</td>   <td>71175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:22</td>   <td>75339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:36</td>   <td>90108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">loginPageTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/05/11 10:53:42</td>   <td>95758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:53:48</td>   <td>102170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:02</td>   <td>115822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:13</td>   <td>126812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:19</td>   <td>132477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:33</td>   <td>146526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:44</td>   <td>157286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:54:49</td>   <td>162817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:03</td>   <td>177149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:14</td>   <td>187852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:19</td>   <td>192210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:32</td>   <td>205587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:43</td>   <td>216376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:55:47</td>   <td>220570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:56:01</td>   <td>234965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.filSignUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">filSignUp</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/11 10:56:12</td>   <td>245632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.SignupPageTest@358c99f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:18</td>   <td>251713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:34</td>   <td>267480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:41</td>   <td>274508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:41</td>   <td>274793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:56:55</td>   <td>288260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:01</td>   <td>294660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:01</td>   <td>295152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:15</td>   <td>308301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:21</td>   <td>315023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:22</td>   <td>315319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:36</td>   <td>329415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:42</td>   <td>335988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:43</td>   <td>336668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatingStoresTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:57:56</td>   <td>350032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatingStoresTest.locatingStoreTest(java.lang.String)[pri:3, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">locatingStoreTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/05/11 10:58:03</td>   <td>356967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatingStoresTest.teardown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LocatingStoresTest@53ca01a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:04</td>   <td>357446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:18</td>   <td>371341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.HomePageTitleTest()[pri:4, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">HomePageTitleTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:18</td>   <td>371391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:19</td>   <td>372788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:32</td>   <td>386182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.vibgyorpaintlabelTest()[pri:5, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">vibgyorpaintlabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:33</td>   <td>386447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:34</td>   <td>388086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:50</td>   <td>403666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.loginlabelTest()[pri:6, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">loginlabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:50</td>   <td>403740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:58:51</td>   <td>404899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:59:05</td>   <td>418855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.signuplabelTest()[pri:7, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">signuplabelTest</td> 
  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/05/11 10:59:05</td>   <td>418953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@e50a6f6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1271601195</td>   <td></td> </tr>
</table>
